#container > * { position:relative; }

body{
  padding: 0;
  margin: 0;
}
.mainText{
  font-size: 3em;
  width: 65%;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  font-family: "arial";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}


img {
  position: absolute;
  visibility: hidden;

  /* object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
  top: 25%;
  left: 20%;
  z-index: -10;
  opacity: 0; */

  /* pointer-events: none; */
}

.visibleImage {
  position: reset !important;
  visibility: visible !important;
}


canvas {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;

}

.fontStyle{
  margin-left: 100px;
  font-size: 100px;
 margin-bottom: 90px;
  /* color: #f9cdcd */
}
